Repository jrp2014/check_models: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependency-sync-check, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies: []
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        files: \.(sh)$
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.10.0-1
    hooks:
      - id: shfmt
        args: ["-w", "-i", "2", "-bn", "-ci"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.3
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.15.0
    hooks:
      - id: markdownlint-cli2
        name: markdownlint
        files: \.(md|markdown)$
        additional_dependencies: []
  - repo: local
    hooks:
      - id: dependency-sync-check
        name: dependency-sync-check
        entry: python -m vlm.tools.check_dependency_sync
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|vlm/README\.md)$
      - id: mypy
        name: mypy
        entry: mypy --config-file pyproject.toml
        language: system
        types: [python]
        pass_filenames: true
        additional_dependencies: []

chore: remove redundant REORGANIZATION_SUMMARY.md
  REORGANIZATION_SUMMARY.md
Due: none

feat: make check_models the default Makefile target
  Makefile
  vlm/Makefile
Due: none

feat: enhance help to highlight check_models as primary target
  Makefile
  vlm/Makefile
Due: none

Update dependency synchronization tests and regenerate requirements files
  vlm/requirements-dev.txt
  vlm/requirements.txt
  vlm/results.html
  vlm/results.md
  vlm/tests/test_dependency_sync.py
Due: mypy

feat: upgrade to Python 3.13
  .github/workflows/dependency-sync.yml
  .github/workflows/quality.yml
  CONTRIBUTING.md
  IMPLEMENTATION_GUIDE.md
  vlm/README.md
  vlm/pyproject.toml
  vlm/tools/setup_conda_env.sh
  vlm/tools/validate_env.py
Due: dependency-sync-check, mypy

docs: add Python 3.13 migration guide
  PYTHON_313_MIGRATION.md
Due: none

feat: add low-friction PyTorch installation support
  CONTRIBUTING.md
  Makefile
  PYTHON_313_MIGRATION.md
  vlm/Makefile
  vlm/README.md
Due: dependency-sync-check

feat: add einops as optional dependency
  vlm/README.md
  vlm/pyproject.toml
Due: dependency-sync-check

feat: add num2words as optional dependency
  results.html
  results.md
  vlm/README.md
  vlm/pyproject.toml
Due: dependency-sync-check

style: fix markdown linting issues
  CONTRIBUTING.md
  PYTHON_313_MIGRATION.md
  vlm/results.md
Due: none

style: fix remaining markdown linting issues in IMPLEMENTATION_GUIDE.md
  IMPLEMENTATION_GUIDE.md
Due: none

fix: ensure generated markdown reports end with trailing newline
  vlm/check_models.py
Due: mypy

feat: enhance CLI output formatting for better visual clarity
  OUTPUT_FORMATTING_REVIEW.md
  vlm/check_models.py
Due: mypy

chore: ensure all maintenance scripts cover optional extras packages
  vlm/requirements.in
  vlm/tools/update.sh
  vlm/tools/validate_env.py
Due: mypy

feat: add comprehensive CLI output formatting review and improvement suggestions
  vlm/notes/OUTPUT_FORMATTING_REVIEW.md
Due: none

new run results
  results.html
  results.md
Due: none

fix: improve TensorFlow installation warning for macOS/Apple Silicon
  vlm/README.md
Due: dependency-sync-check

fix: add troubleshooting note for TensorFlow mutex error in README
  vlm/README.md
Due: dependency-sync-check

Implement code changes to enhance functionality and improve performance
  results.html
  results.md
Due: none

fix: enhance TensorFlow conflict handling in README with clearer instructions
  vlm/README.md
Due: dependency-sync-check

fix: improve logging format in performance metrics for better readability
  vlm/check_models.py
Due: mypy

fix: update check_quality.py paths from vlm/ to src/
  src/tools/check_quality.py
Due: mypy

docs: move restructure and git hooks documentation to docs/notes/
  docs/notes/GIT_HOOKS_FIXED.md
  docs/notes/RESTRUCTURE_COMPLETED.md
  docs/notes/RESTRUCTURE_PLAN.md
Due: none

docs: add index README for docs/notes/ directory
  docs/notes/README.md
Due: none

docs: update IMPLEMENTATION_GUIDE.md for src/ restructure
  docs/IMPLEMENTATION_GUIDE.md
Due: none

docs: update CONTRIBUTING.md for project restructure and command changes
  docs/CONTRIBUTING.md
Due: none

docs: update CONTRIBUTING.md for src/ restructure
  docs/CONTRIBUTING.md
Due: none

docs: update PYTHON_313_MIGRATION.md for correct paths in installation instructions
  docs/PYTHON_313_MIGRATION.md
Due: none

docs: update README.md for correct directory in installation instructions
  src/README.md
Due: none

docs: update PYTHON_313_MIGRATION.md and src/README.md for src/ restructure
  src/README.md
Due: none

ci: fix GitHub workflows for src/ directory structure
  .github/workflows/dependency-sync.yml
  .github/workflows/quality.yml
Due: none

chore: update project structure and scripts for src/ directory alignment
  .gitignore
  .pre-commit-config.yaml
  Makefile.bak
  src/README.md
  src/pyproject.toml
  src/pytest.ini
  src/tools/install_precommit_hook.py
  src/tools/run_quality.sh
Due: mypy

fix: exclude notes directory from markdown linting and improve outdated packages check
  .github/workflows/quality.yml
  src/tools/check_outdated.py
Due: mypy

fix: update markdown linting to include all markdown files and remove notes exclusion
  .github/workflows/quality.yml
  docs/notes/GIT_HOOKS_FIXED.md
  docs/notes/OUTPUT_FORMATTING_REVIEW.md
  docs/notes/RESTRUCTURE_COMPLETED.md
  docs/notes/RESTRUCTURE_PLAN.md
Due: none

fix: update quality.yml and generate_stubs.py for better error handling and optional stub generation on non-macOS platforms
  .github/workflows/quality.yml
  README.md
  docs/notes/OUTPUT_FORMATTING_REVIEW.md
  docs/notes/RESTRUCTURE_COMPLETED.md
  docs/notes/RESTRUCTURE_PLAN.md
  src/tools/generate_stubs.py
Due: mypy

fix: add type hints for better type checking in test files and pyproject.toml
  src/pyproject.toml
  src/tests/test_format_field_value.py
  src/tests/test_metrics_modes.py
  src/tests/test_total_runtime_reporting.py
Due: mypy

feat: enhance quality checks by adding markdownlint support and new command-line options
  src/check_models.py
  src/tools/check_quality.py
Due: mypy
