Repository jrp2014/check_models: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependency-sync-check, mypy

dependency-sync-check:
  name: dependency-sync-check
  entry: python -m vlm.tools.check_dependency_sync
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: true
  additional_dependencies: []

Update README.md: clarify Git hygiene practices and reorganize content for better readability
  vlm/README.md
Due: dependency-sync-check

Add markdown linting configuration and update style guide
  .markdownlint.jsonc
  .pre-commit-config.yaml
  STYLE_GUIDE.md
  vlm/README.md
Due: dependency-sync-check

Add overall runtime formatting and reporting to generated reports
  vlm/check_models.py
  vlm/pyproject.toml
  vlm/test_total_runtime_reporting.py
  vlm/tests/__init__.py
  vlm/tests/test_format_field_value.py
  vlm/tests/test_total_runtime_reporting.py
Due: dependency-sync-check, mypy

results under MacOS 26
  vlm/results.html
  vlm/results.md
Due: none

Remove unused constants to reduce surface area and improve code clarity
  vlm/check_models.py
Due: mypy

Refactor performance reporting: centralize timestamp formatting and enhance result handling with ResultSet class
  vlm/check_models.py
Due: mypy

Enhance metrics reporting: add compact and detailed modes for performance metrics output
  .vscode/settings.json
  vlm/README.md
  vlm/check_models.py
Due: dependency-sync-check, mypy

Add compact and detailed metrics modes with corresponding tests
  vlm/check_models.py
  vlm/tests/test_metrics_modes.py
Due: mypy

Add Makefile to streamline developer workflow with common tasks
  Makefile
  vlm/README.md
Due: dependency-sync-check

Add dependency sync targets to Makefile and clean up test files
  Makefile
  vlm/tests/test_format_field_value.py
  vlm/tests/test_total_runtime_reporting.py
Due: mypy

Fix dependency extraction logic in check_dependency_sync.py for improved accuracy
  vlm/README.md
  vlm/tools/check_dependency_sync.py
Due: dependency-sync-check, mypy

Remove obsolete unit tests for memory formatting and runtime reporting
  vlm/test_format_field_value.py
  vlm/test_total_runtime_reporting.py
Due: mypy

Refactor test assertions in memory formatting and metrics mode tests for clarity
  vlm/tests/test_format_field_value.py
  vlm/tests/test_metrics_modes.py
Due: mypy

Enhance Makefile and documentation for improved dependency management and installation process
  Makefile
  STYLE_GUIDE.md
  pytest.ini
  vlm/README.md
  vlm/__init__.py
  vlm/tests/test_dependency_sync.py
  vlm/tools/smoke_test.py
  vlm/tools/update_readme_deps.py
Due: dependency-sync-check, mypy

updated results
  vlm/results.html
  vlm/results.md
Due: none

Refactor Makefile and scripts for improved quality checks and installation process; update README for clarity on usage
  .vscode/tasks.json
  Makefile
  vlm/.ci_collect.txt
  vlm/.ci_count
  vlm/.ci_tests.txt
  vlm/Makefile
  vlm/README.md
  vlm/pytest.ini
  vlm/tests/test_dependency_sync.py
  vlm/tools/check_dependency_sync.py
  vlm/tools/check_quality.py
  vlm/tools/generate_stubs.py
  vlm/tools/install_precommit_hook.py
  vlm/tools/run_quality.sh
  vlm/tools/smoke_test.py
  vlm/tools/update_readme_deps.py
Due: dependency-sync-check, mypy

Add test collection step to Makefile and log results; update quality target note
  vlm/.test_collect.txt
  vlm/Makefile
Due: none

Add 'gh' to the list of dependencies in update.sh
  vlm/tools/update.sh
Due: none

Update ruff configuration to allow longer lines and temporarily tolerate complexity; add strictness flags for mypy
  vlm/pyproject.toml
Due: dependency-sync-check

Update .gitignore and STYLE_GUIDE; remove unused typings and add stubs generation to Makefile
  .gitignore
  README.md
  STYLE_GUIDE.md
  typings/tokenizers/__init__.pyi
  typings/tokenizers/decoders/__init__.pyi
  typings/tokenizers/implementations/__init__.pyi
  typings/tokenizers/implementations/base_tokenizer.pyi
  typings/tokenizers/implementations/bert_wordpiece.pyi
  typings/tokenizers/implementations/byte_level_bpe.pyi
  typings/tokenizers/implementations/char_level_bpe.pyi
  typings/tokenizers/implementations/sentencepiece_bpe.pyi
  typings/tokenizers/implementations/sentencepiece_unigram.pyi
  typings/tokenizers/models/__init__.pyi
  typings/tokenizers/normalizers/__init__.pyi
  typings/tokenizers/pre_tokenizers/__init__.pyi
  typings/tokenizers/processors/__init__.pyi
  typings/tokenizers/tokenizers.pyi
  typings/tokenizers/tools/__init__.pyi
  typings/tokenizers/tools/visualizer.pyi
  typings/tokenizers/trainers/__init__.pyi
  vlm/.ci_collect.txt
  vlm/.ci_tests.txt
  vlm/Makefile
  vlm/check_models.py
  vlm/tools/generate_stubs.py
Due: mypy

Refactor Makefile for improved clarity and organization; enhance help target and update descriptions for all targets
  Makefile
Due: none

Add VLM checker target to Makefile and README; enhance stubs generation script documentation
  Makefile
  README.md
  vlm/Makefile
  vlm/tools/generate_stubs.py
Due: mypy

fix(tasks): add duplicate VLM quality check task to tasks.json
  .vscode/tasks.json
Due: none

refactor(tests): enhance smoke test script with improved error handling and type hints
  vlm/tools/check_quality.py
  vlm/tools/generate_stubs.py
  vlm/tools/smoke_test.py
Due: mypy

docs(README): enhance user guidance and quickstart instructions for check_models.py
  README.md
  vlm/README.md
Due: dependency-sync-check

docs(README): update quickstart and contributing sections; clarify folder behavior for image selection
  README.md
  vlm/README.md
Due: dependency-sync-check

feat(check_quality): enhance tool execution with fallback for ruff and mypy; add diagnostics for PATH
  vlm/tools/check_quality.py
Due: mypy

feat(lint): add lint-md target for Markdown files using markdownlint-cli2 docs(style_guide): update documentation on Markdown linting process and configuration
  Makefile
  STYLE_GUIDE.md
Due: none

refactor(tasks): simplify quality check task configuration and update label
  .vscode/tasks.json
Due: none

feat(vscode): add VSCode settings and extensions for improved linting and testing configuration
  .vscode/extensions.json
  .vscode/settings.json
  vlm/pyproject.toml
Due: dependency-sync-check

fix(pre-commit): specify config file for mypy to ensure correct type checking
  .pre-commit-config.yaml
Due: none

fix(workflow): correct installation path and mypy config for dependency sync check
  .github/workflows/quality.yml
Due: none

fix: update paths in configuration files to reference root pyproject.toml
  .github/workflows/quality.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  STYLE_GUIDE.md
  pyproject.toml
  vlm/README.md
  vlm/tools/check_quality.py
  vlm/tools/install_precommit_hook.py
Due: dependency-sync-check, mypy

fix: update README dependency paths and improve tooling installation in workflows.
  .github/workflows/quality.yml
  .pre-commit-config.yaml
  .vscode/tasks.json
  STYLE_GUIDE.md
  pyproject.toml
  vlm/check_models.py
  vlm/tools/check_dependency_sync.py
  vlm/tools/check_quality.py
  vlm/tools/install_precommit_hook.py
  vlm/tools/update_readme_deps.py
Due: mypy

Refactor project structure and update quality checks
  .github/workflows/quality.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  Makefile
  README.md
  STYLE_GUIDE.md
  pyproject.toml
  vlm/README.md
  vlm/check_models.py
  vlm/pyproject.toml
  vlm/tools/check_dependency_sync.py
  vlm/tools/check_quality.py
  vlm/tools/install_precommit_hook.py
  vlm/tools/update_readme_deps.py
Due: dependency-sync-check, mypy

fix: update settings and README for clarity; adjust mypy configuration in pyproject.toml
  .vscode/settings.json
  README.md
  vlm/pyproject.toml
  vlm/tools/run_quality.sh
Due: dependency-sync-check

refactor: comprehensive code quality improvements for check_models.py
  STYLE_GUIDE.md
  vlm/check_models.py
Due: mypy

feat: comprehensive project robustness improvements
  .editorconfig
  .github/dependabot.yml
  .github/workflows/quality.yml
  CONTRIBUTING.md
  IMPLEMENTATION_SUMMARY.md
  vlm/Makefile
  vlm/pyproject.toml
  vlm/requirements-dev.in
  vlm/requirements.in
  vlm/tools/check_outdated.py
  vlm/tools/install_precommit_hook.py
  vlm/tools/validate_env.py
Due: dependency-sync-check, mypy

docs: reorganize documentation with clear, distinct purposes
  CONTRIBUTING.md
  IMPLEMENTATION_GUIDE.md
  IMPLEMENTATION_SUMMARY.md
  README.md
  REORGANIZATION_SUMMARY.md
  STYLE_GUIDE.md
  vlm/README.md
  vlm/requirements-dev.in
Due: dependency-sync-check

Path conditions:
  dependency-sync-check: any of: ^vlm/(pyproject\.toml|README\.md)$
  mypy: any of: \.py$
